body{
    background-color: black;
    background-image:url(/Imagenes/SteinsFondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-align: justify;
    color: aliceblue;
    margin-top: 3cm;
    margin-left: 4cm;
    margin-right: 3cm;
    margin-bottom: 4cm;

}
img{
    display: block;
    image-rendering: optimizeQuality;
    margin: auto;
}
.Titulos{
    color: crimson;
    font-style: italic;
    font-weight: bold;
}
#T1{
    color: lightcoral;
    font-style: oblique;
    font-weight: bold;
}
h1, .Titulos, .Links{
    text-align: center;
}
.Links{
    color: green;
}
.Links:hover{
    color: rgb(188, 255, 2);
    
}

